.footer {
  background-color: #9395d3;
  display: inline-block;
  width: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding-top: 20px;
  color: #fbf9ff;
}

.icon {
  font-size: 1em;
  padding-left: 20px;
  color: #fbf9ff;
}
