.footer {
  background-color: #dfdfdf;
  display: inline-block;
  width: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.icon {
  font-size: 1em;
  /* TODO: padding bottom  */
  padding-top: 50px;
  padding-left: 20px;
  color: rgb(87, 86, 86);
}
