.footer {
  background-color: #4f00ce;
  display: inline-block;
  width: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding-top: 20px;
  color: rgb(186, 179, 253);
}

.icon {
  font-size: 1em;
  padding-left: 20px;
  color: rgb(186, 179, 253);
}
